*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #edbfff;
    z-index: 3;
    mix-blend-mode: difference;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
}

#purple{
    height: 100vh;
    width: 100vw;
    background-color: #edbfff;
    position: fixed;
    top: 0;
    z-index: 98;
    display: none;
    opacity: 0;
    animation-play-state: paused;
    transition: opacity ease-in-out 1s;
}

#marquee-home, #marquee-work, #marquee-studio, #marquee-contact{
    display: none;
    opacity: 0;
}

.marquee{
    position: absolute;
    margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300%;
    height: 100%;
    overflow: hidden;
    float: left;
    animation: marquee 10s linear infinite;
}

#nav:hover h4{
    animation-play-state: running;
}

@keyframes marquee {
    0%{
        left: 0%;
    }
    100%{
        left: -1100px;
    }
}

.marquee h1{
    font-size: 5vw;
    padding: 0 1vw;
}

.main{
    background-color: #0F0D0D;
    cursor: none;
}

.page1{
    padding-top: 12vw;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 5;
}

#nav{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 99;
}

#nav img{
    height: 25px;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}

#nav h4{
    font-size: 14px;
    text-transform: uppercase;
    font-size: 500;
}

#nav h4:nth-child(1){
    border-bottom: 1px solid #fff;
}

.page1 h1{
    font-size: 7vw;
    font-weight: 300;
    margin-left: 6vw;
}

.page1 h2{
    font-size: 7vw;
    font-weight: 300;
    font-family: PP mori;
    margin-left: 20vw;
}

.page1 .video{
    width: 60%;
    height: 600px;
    margin-top: 10vw;
    background-color: red;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 5;
}

.page2 h1{
    font-size: 6vw;
    font-weight: 200;
    color: #111;
    font-weight: 500;
}

.page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page2-left{
    width: 35%;
}

.page2-right{
    width: 20%;
}

.page2-left h2{
    font-size: 3vw;
    font-weight: 300;
    color: #111;
    line-height: 3.5vw;
}

.page2-right p{
    font-size: 1vw;
    color: #111;
}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    color: #111;
    background-color: #edbfff;
    margin-top: 20px;
}

.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 100px;
    z-index: 5;
}

.page3 h1{
    font-size: 6vw;
    font-weight: 300;
    color: #111;
    margin-left: 100px;
}

.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page3-part1 img{
    height: 500px;
    margin-top: 160px;
}

.page3-part1 video{
    height: 400px;
}

.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 180px 100px;
    z-index: 5;
}

.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 1.5vw;
}

.elem img{
    position: absolute;
    transition: all ease-out 0.5s;
    opacity: 0;
    transform: translate(10%) rotate(2deg);
}

.elem img:nth-child(1){
    left: 0;
}

.elem img:nth-child(3){
    right: 6%;
}

.text-div{
    height: 100px;
    overflow: hidden;
}

.elem h1{
    font-size: 6vw;
    font-weight: 300;
    transition: all ease-out 0.5s;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #edbfff;
}

.elem:hover img{
    opacity: 1;
    transform: translateY(0) rotate(0);
}

.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 100px;
    z-index: 5;
    padding: 140px 100px;
}

.page5 h2{
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 50px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    padding: 0 20px;
    border-top: 1px solid #dadada;
}

.box:nth-last-child(1){
    border-bottom: 1px solid #dadada;
}

footer{
    height: 90vh;
    width: 100%;
    background: gray;
}